@import "assets/reset";
@import "assets/media-mixin";
@import "assets/text-mixin";

@import "inc/layout";

//TODO: example
h1{
    color: pink;
    //font-size: 3rem;

    //TODO: example fluid-type mixin
    @include fluid-type(font-size, 320px, 1200px, 16px, 48px);
}

.icon{
    display: inline-block;
    width: 14px;
    height: 14px;
}