extends inc/base

block title
    title= 'Главная страница'
    meta(name="description" content="Описание главной страницы")

block content
    .content
        h1 Привет мир!

        // img/svg-lib.svg - svg файл с библиотекой svg внутри
        // +svg-use('id', 'class')
        +svg-use('ico-search', 'icon')